:root {
    --reddish: #B70404;
    --pinkish: #DB005B;
    --orangish: #F79327;
    --yellowish: #FFE569;
  }


.phone {
    width: 450px;
    height: 650px;
    background-color: rgb(225, 159, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 2px;
    right: 80px;
}


.header {
    width: 100%;
    height: 5%;
    background-color: #17141d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-area {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: var(--pinkish);
    overflow-y: scroll;
    padding-top: 10px;
    flex-direction: column;
}
.logout {
  position: absolute;
  top: 30px;
  right: 150px;
}
.tools {
    width: 100%;
    height: 18%;
    background-color: #17141d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.input-area, .contact-list {
    width: 90%;
    height: 35px;
    /* flex-grow: 1; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.tools input[type="text"]:focus {
    border-color: blue;
}

.message {
    width: 95%; /* Adjust the max-width as needed */
    /* padding: 10px; */
    background-color: #17141d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.you {
    font-weight: 700;
    color: blue;
}

.send {
    text-decoration: none;
    border: none;
    width: 70px;
    padding: 7px 0;
    cursor: pointer;
    color: white;
    background-color: var(--pinkish);
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

body {
    background-color: #17141d;
}


#burger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s linear;
}

#burger:hover {
  background-color: goldenrod;
}

.line {
  width: 22px;
  margin-bottom: 5px;
  height: 2px;
  background-color: white;
}

.line:last-child {
  margin-bottom: 0;
}

#nav {
  height: 100vh;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: white;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  margin-left: 200px;
}

#nav.active {
  transform: translateX(0);
}

ul {
  list-style: none;
  text-align: center;
}

li {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 1.6;
}

.text {
  width: 80%;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 3px;
}

h1 {
  margin-bottom: 3rem;
  color: var(--pinkish);
}

a {
  color: #fafafa;
  transition: 0.3s linear;
}

i {
  margin: 2rem;
}

a:hover {
  color: goldenrod;
  outline: none;
}

@media screen and (max-width: 600px) {
  #burger {
    top: 90%;
    right: 12%;
  }
}

caption,
th,
td {
	padding: 1rem;
	text-align: left;
    text-align: center;
	line-height: 1.5;
    color: white;
}

table {
    border-left: 1px solid var(--pinkish);
    border-bottom: 1px solid var(--pinkish);
}

thead {
  background-color: var(--pinkish);
  color: white;
}

.tr {
  background-color: white;
  color: var(--pinkish);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}